html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
  margin: 0;
  height: 100%;
  background-color: pink;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 20px;
}

.title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.cat-meme {
  width: 70vw;
  height: 30vh;
  object-fit: cover;
}

.btn-container {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}

.btn-container button {
  border: none;
  padding: 15px 32px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  border-radius: 10px;
}

.btn-container .Yes {
  background-color: green;
  margin-right: 5vw;
}

.btn-container .No {
  background-color: red;
}

.math-question {
  display: none;
  padding-top: 50px;
  opacity:0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  animation: smooth-appear 1s ease forwards;
}

.no-choice {
  display: none;
  padding-top: 10px;
  opacity:0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  animation: smooth-appear 1s ease forwards;
}

.math {
  width: 80vw;
  height: 10vh;
  object-fit: cover;
  margin-top: 10px;
}

@keyframes smooth-appear {
  to{
    opacity:1;
  }
}
